@page
@using AyrinMovie.Core.Services.Article
@model AyrinMovie.Web.Pages.Admin.Blog.AddArticleModel

@inject IArticleService _articleService


@section Styles
{
<link rel="stylesheet" type="text/css" href="~/Admin/plugins/dropify/dropify.min.css">
<link href="~/Admin/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
}


@{
    ViewData["Title"] = "پنل کاربری | افزودن مقاله ";
    ViewData["Page-Header"] = "افزودن مقاله";
    ViewData["ArticleMenuActive"] = "true";
}


@{
    var data1 = _articleService.GetGroups();
    var Groups = new SelectList(data1, "Value", "Text");

    var data2 = _articleService.GetSubGroups(int.Parse(Groups.First().Value));
    var SubGroups = new SelectList(data2, "Value", "Text");
}






<div class="Information-Box-container layout-top-spacing">

    <div class="Information-content">
        <form method="post" enctype="multipart/form-data">


            <div class="scrollspy-example" data-spy="scroll" data-target="#Information-content-scroll" data-offset="-100">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div id="general-info" class="section general-info">
                            <div class="info">
                                <h6>افزودن مقاله</h6>
                                <div class="row">
                                    <div class="col-lg-12 mx-auto">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-12 col-md-4">
                                                <div class="upload mt-4 pr-md-4">
                                                    <input asp-for="CreateArticleViewModel.ArticleImage" type="file" id="input-file-max-fs" class="dropify" data-default-file="/Files/Blog/Defult.jpg" data-max-file-size="7M" />
                                                    <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> آپلود تصویر اصلی</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label>عنوان</label>
                                                                <input asp-for="CreateArticleViewModel.ArticleTitle" type="text" class="form-control mb-4" placeholder="عنوان مقاله" />
                                                                <span asp-validation-for="CreateArticleViewModel.ArticleTitle" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>مقدمه مقاله</label>
                                                                <input asp-for="CreateArticleViewModel.ArticleIntroduction" type="text" class="form-control mb-4" placeholder="مقدمه و توضیحی کوتاه در مورد مقاله" />
                                                                <span asp-validation-for="CreateArticleViewModel.ArticleIntroduction" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label>کلمات کلیدی</label>
                                                                <input asp-for="CreateArticleViewModel.Tags" type="text" class="form-control mb-2" placeholder="برچسب های مقاله" />
                                                                <p class="help-block">کلمات کلیدی خود را با " - " جدا کنید</p>
                                                                <span asp-validation-for="CreateArticleViewModel.Tags" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="d-sm-flex d-block">
                                                                <div class="form-group mr-3">
                                                                    <label>گروه</label>
                                                                    <select asp-for="CreateArticleViewModel.GroupId" class="form-control" asp-items="Groups">
                                                                    </select>
                                                                </div>
                                                                <div class="form-group mr-3">
                                                                    <label>زیر گروه</label>
                                                                    <select asp-for="CreateArticleViewModel.SubGroup" class="form-control" asp-items="SubGroups">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="section about">
                            <div class="info">
                                <h5>متن</h5>
                                <div class="row">
                                    <div class="col-md-11 mx-auto">
                                        <div class="form-group">
                                            <textarea asp-for="CreateArticleViewModel.ArticleText" class="form-control" value="شروع به نوشتن کنید . ." rows="20"></textarea>
                                        </div>
                                        <span asp-validation-for="CreateArticleViewModel.ArticleText" class="text-danger mb-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                        <div class="row">
                            <div class="col-md-12 mx-auto">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary mb-4 mr-2 btn-lg" value="افزودن مقاله" />
                                        <input type="reset" class="btn btn-secondary mb-4 mr-2 btn-lg" value="پاک کن" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </form>
    </div>

</div>




@section Scripts
{

<script src="~/Admin/plugins/dropify/dropify.min.js"></script>
<script src="~/Admin/plugins/blockui/jquery.blockUI.min.js"></script>
<script src="~/Admin/assets/js/users/account-settings.js"></script>


<script>

     $("#CreateArticleViewModel_GroupId").change(function() {
        $("#CreateArticleViewModel_SubGroup").empty();
        $.getJSON("/home/GetSubGroups/" + $("#CreateArticleViewModel_GroupId :selected").val(),
            function(data) {

                $.each(data,
                    function() {
                        $("#CreateArticleViewModel_SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');

                    });
            });
    });

</script>



<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>

    CKEDITOR.replace('CreateArticleViewModel.ArticleText', {
        customConfig: '/Admin/plugins/editors/ckeditor/Config.js'
    });

</script>


}