@page
@model AyrinMovie.Web.Pages.Account.ForgotPasswordModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "حساب کاربری | بازیابی کلمه ی عبور ";
}


<h1>بازیابی رمزعبور</h1>
<p class="signup-link recovery">ایمیل خود را وارد کنید ، ایمیل تغییر رمز برای شما ارسال می شود!</p>

<form method="post" class="text-left">
    <div class="form">

        <div id="email-field" class="field-wrapper input">
            <div class="d-flex justify-content-between">
                <label for="email">ایمیل</label>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
            <input asp-for="Forgot.Email" id="email" type="text" class="form-control" placeholder="ایمیل خود را وارد کنید ">
            <span asp-validation-for="Forgot.Email" class="text-danger"></span>

            @if (ViewData["isSuccess"] != null)
            {
                <p class="text-success">ایمیل بازیابی برای شما ارسال شد </p>
            }

        </div>

        <div class="d-sm-flex justify-content-between">
            <div class="field-wrapper">
                <button type="submit" class="btn btn-primary">ارسال ایمیل بازیابی</button>
            </div>
        </div>

    </div>
</form>