@page
@model AyrinMovie.Web.Pages.Admin.InaccessibleModel

@{
    ViewData["Title"] = "پنل کاربری | غیر قابل دسترسی ";
    ViewData["Page-Header"] = "عدم دسترسی";
}

@section Styles
{
<link rel="stylesheet" type="text/css" href="~/Admin/assets/css/elements/alert.css">
}


<div class="col-lg-6 ">
    <div class="alert alert-primary mb-4" role="alert">
        <strong>سطح دسترسی شما به این قسمت محدوداست </strong>
    </div>
</div>
