
<nav class="mobile-navbar">
    <div class="mobile-logo-container">
        <a href="index.html">
            <img loading="lazy" src="~/Web/assest/logo/mobile-navigation-icon.svg" alt="logo">
        </a>
    </div>

    <ul class="mobile-navigation-items">
        <li class="mobile-menu-title" data-dropdown="true">فیلم</li>
        <ul class="mobile-menu-collapse">
            <li class="mobile-link-item"><a href="/movies">تمامی فیلم ها</a></li>
            <li class="mobile-link-item"><a href="articles-demos.html">دوبله فارسی</a></li>
            <li class="mobile-link-item"><a href="/movies?country=ایران">ایرانی</a></li>
            <li class="mobile-link-item"><a href="venom.html">خارجی</a></li>
        </ul>


        <li class="mobile-menu-title" data-dropdown="true">انیمیشن</li>
        <ul class="mobile-menu-collapse">
            <li class="mobile-link-item"><a href="#">دوبله فارسی</a></li>          
        </ul>
    </ul>


    <ul class="mobile-navigation-items">
        <li class="mobile-menu-title" data-dropdown="false"><a href="/blog">وبلاگ</a></li>
    </ul>


</nav>