
<!-- Genre List -->

<div class="card mt-4">
    <div class="flex items-center mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
        </svg>
        <h4 class="mr-2">‌دسته‌بندی</h4>
    </div>
    <ul class="movie-genre-list mt-2">
        <li class="movie-genre-list--item"><a title="آهنگ" href="#"> آهنگ </a></li>
        <li class="movie-genre-list--item"><a title="اکشن" href="#"> اکشن </a></li>
        <li class="movie-genre-list--item"><a title="انیمه" href="#"> انیمه </a></li>
        <li class="movie-genre-list--item"><a title="انیمیشن" href="#"> انیمیشن </a></li>
        <li class="movie-genre-list--item"><a title="بیوگرافی" href="#"> بیوگرافی </a></li>
        <li class="movie-genre-list--item"><a title="تاریخی" href="#"> تاریخی </a></li>
        <li class="movie-genre-list--item"><a title="ترسناک" href="#"> ترسناک </a></li>
        <li class="movie-genre-list--item"><a title="جنایی" href="#"> جنایی </a></li>
        <li class="movie-genre-list--item"><a title="جنگی" href="#"> جنگی </a></li>
        <li class="movie-genre-list--item"><a title="خانوادگی" href="#"> خانوادگی </a></li>
        <li class="movie-genre-list--item"><a title="خبری" href="#"> خبری </li>
        <li class="movie-genre-list--item"><a title="درام" href="#"> درام </a></li>
        <li class="movie-genre-list--item"><a title="رئالیتی تی وی" href="#"> رئالیتی تی وی </a></li>
        <li class="movie-genre-list--item"><a title="رازآلود" href="#"> رازآلود </a></li>
        <li class="movie-genre-list--item"><a title="عاشقانه" href="#"> عاشقانه </a></li>
        <li class="movie-genre-list--item"><a title="علمی تخیلی" href="#"> علمی تخیلی </a></li>
        <li class="movie-genre-list--item"><a title="فانتزی" href="#"> فانتزی </li>
        <li class="movie-genre-list--item"><a title="فیلم نوآر" href="#"> فیلم نوآر </a></li>
        <li class="movie-genre-list--item"><a title="کمدی" href="#"> کمدی </a></li>
        <li class="movie-genre-list--item"><a title="کوتاه" href="#"> کوتاه </a></li>
        <li class="movie-genre-list--item"><a title="ماجراجویی" href="#"> ماجراجویی </a></li>
        <li class="movie-genre-list--item"><a title="مستند" href="#"> مستند </a></li>
        <li class="movie-genre-list--item"><a title="موزیکال" href="#"> موزیکال </a></li>
        <li class="movie-genre-list--item"><a title="نوآر" href="#"> نوآر </a></li>
        <li class="movie-genre-list--item"><a title="هیجان انگیز" href="#"> هیجان انگیز </a></li>
        <li class="movie-genre-list--item"><a title="ورزشی" href="#"> ورزشی </a></li>
        <li class="movie-genre-list--item"><a title="وسترن" href="#"> وسترن </a></li>

    </ul>
</div>
